<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>
        {{ block "title" . }}
            {{ .Site.Title }}
        {{ end }}
    </title>
    {{ partial "head.html" . }}
  </head>
  <body>
      <div class="container">
          <div class="row">
              <div class="col-3">
                {{ partial "sidebar.html" . }}    
              </div>
              <div class="col-9">
                {{ block "main" . }}
                {{ end }}
              </div>
          </div>
      </div>
      <p>Using baseof.html in _default</p>
    {{ block "footer" . }}
        <hr>
        <p>The stock standard default footer on the home page.
    {{ end }}
  </body>
</html>
